<div class="container">
    <div class="left">
        <div class="profile-card">
            <div class="top">
                <div id="my-profile">
                    <img src="./sridhar grusamy photo.jpg" alt="">
                </div>
                <p class="name">Sridhar Gurusamy</p>
                <hr>
                <p id="role">PRODUCT ENGINEER</p>
            </div>
            <div class="bottom">
                hello
            </div>
        </div>
    </div>
    <div class="right">

    </div>
</div>