<main>
    <section class="header">
        <div class="logo">
            <p>SRIDHAR G</p>
        </div>
        <div class="navigation">
            <div><a href="">Home</a></div>
            <div><a href="#project-display">Project</a></div>
            <div><a href="">About me</a></div>
            <div><a href="">Contact</a></div>
        </div>
        <div class="social-media">
            <div>
                <a href=""><i class='bx bxl-instagram'></i></a>
            </div>
            <div>
                <a href=""><i class='bx bxl-linkedin-square'></i></a>
            </div>
        </div>
    </section>
    <section class="main-content">
            <app-aboutme/>
    </section>
    <section class="projects" id="project-display">
        <div class="intro">
            <span>SOME OF MY LATEST WORK</span>
        </div>
        <div class="project-works">
            <div class="project-card">
                <div class="top">
                    <p class="project-title">EVENT MANAGEMENT APP</p>
                    <div>
                        <img src="./Project1.png" alt="">
                    </div> 
                </div>
                <h4>Short Description</h4>
                <p class="short-description" >
                    The Event App allows event management and admin controls for categories and data backups.
                </p>          
                <a href="https://imsrisan.github.io/Event-Management-App/index.html">View Project</a>               
            </div>
            <div class="project-card">
                <p class="project-title">EVENT MANAGEMENT APP</p>
                <div>
                    <img src="./Project1.png" alt="">
                </div>             
                <a href="https://imsrisan.github.io/Event-Management-App/index.html">View Project</a>               
            </div><div class="project-card">
                <p class="project-title">EVENT MANAGEMENT APP</p>
                <div>
                    <img src="./Project1.png" alt="">
                </div>             
                <a href="https://imsrisan.github.io/Event-Management-App/index.html">View Project</a>               
            </div>
        </div>
    </section>
</main>